<div class="sidebar sticky-top">        
    <div class="sidebar-section">
        <h5><span>Newsletter</span></h5>
        {% include newsletter.html %}
    </div>
    <div class="sidebar-section">
        <h5><span>Popular Categories</span></h5>
        <div class="category-pills">
            {% assign categories = site.categories | sort %}
            {% for category in categories %}
            <a class="category-pill" href="{{ site.baseurl }}/categories#{{ category[0] | slugify }}">{{ category[0] }} ({{ category[1].size }})</a>
            {% endfor %}
        </div>
    </div>
</div>